{% extends 'base.html' %}

{% block content %}

<style>
    section {
        margin: 30px 15% 20px 15%;
    }

    #content_index {
        padding: 10px 30px 10px 50px;
        border-bottom: 1px solid rgb(240, 240, 222);
        display: flex;
    }

</style>
{% load static %}

<!-- <img src="{% static 'sky.jpg' %}" width="100%"; height = 400px> -->
<!-- <img href="https://blogfiles.pstatic.net/MjAyMjAyMDZfMjEw/MDAxNjQ0MDg1MjE2NzQ1.4GxwXZUEG88p_HbqOgmBpY5h1NH6gGX7c8W0DSvtbW0g.RJo1WR-nmATbXO01PRW1hXzm0Eh2GxFpyz-pwMEn97cg.JPEG.byoridari1/%EB%B6%84%ED%99%8D_%ED%95%98%EB%8A%98_%EB%9A%9D%EC%84%AC%EC%9C%A0%EC%9B%90%EC%A7%80.jpg" width="100%"; height="400px"> -->

<img src="sky.jpg">

{% endblock %}